nav{
  height: .8in;
  display:flex;
  padding: 5px;
  justify-content:space-between;
  box-shadow:0px .5px 2px rgb(197, 189, 189);
}

button{
  display: flex;
  align-self: center;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  height: 50%;
  border: 1px;
  box-shadow: 1px 1px 2px rgb(189, 182, 182);
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
  margin: 0px 15px;
  font-weight: bold;
}

pre{
  height:initial;
  margin: 0;
  justify-content: center;
}


.nav-logo{
  padding: 25px 60px;
}

.nav-right{
  align-items: center;
  padding: 30px;
  display: flex;
}

button.but{
  box-shadow: none;
  box-sizing: border-box;
  border: .1px solid rgb(227, 223, 214);
}

button.but>span{
  margin: 0px 5px;
}

.stays-container>p{
  margin: 0;
  font-size:12px;
  font-weight: 600;
  color: rgba(85, 85, 85, 0.947);
  font-family:sans-serif;
}

.stays-container{
  height: .8in;
  width: .8in;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.stays-menu{
  display: flex;
  justify-content:space-evenly;
  box-shadow:0px .5px 2px rgb(197, 189, 189);
}