nav{
  height: .85in;
  display:flex;
  justify-content: space-around;
  box-shadow:0px .5px 2px rgb(197, 189, 189);
}

pre{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  box-shadow: 1px 1px 2px rgb(189, 182, 182);
  border-radius: 20px;
  width: 3in
}


.nav-logo{
  height: 35px;
  padding: 25px 30px;
}